<!DOCTYPE html>
<html>
<head>
    <title>Movie Review App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Welcome to Movie Reviews</h1>

    <nav>
        <a href="/login">Login/Register</a>
        <a href="/movies">View All Movies</a>
        <a href="/movies/add">Add a Movie</a>
    </nav>
</body>
</html>